/* Global */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Logo */

@media (min-width: 1024px) {

}

@media (min-width: 768px) {

}

.logo {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  padding: 20px;
  font-size: 30px;
  width: 100px;
  height: 80px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
}

/* Nav */

nav {
  
}

.nav-top,
.nav-mid,
.nav-bottom,
.nav-top ul,
.nav-mid ul {
  display: flex;
}

.nav-top,
.nav-mid,
.nav-bottom {
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 120px;
}

.nav-top {
  height: 32px;
  background-color: #131313;
}

.nav-mid {
  height: 48px;
}

.nav-bottom {
  height: 30px;
  background-color: #fd3;
  color: #000;
}

nav li {
  padding-right: 10px;
}

.nav-top a {
  color: #fff;
}

.nav-mid a {
  color: #555;
}

/* Featured Section */

.featured {
  display: flex;
  height: 60vh;
}

.featured-large,
.featured-small {
  background-color: #555;
  color: #fff;
  margin: 10px 0 0 10px;
}

.featured-large {
  flex: 2;
}

.featured-small-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featured-small {
  flex: 1;
  margin-right: 10px;
}

/* Sections */

.wrapper {
  margin: 0 auto;
  max-width: 1192px;
}

.latest,
.invest,
.deals {
  margin-top: 100px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.flex-item {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
  /* background-color: #ccc; */
}

/* Latest Section */

.heading {
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px;
}

.latest-img {
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

.latest-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.deal-price-old {
  color: #aaa;
  font-size: 13px;
  padding-top: 4px;
  text-decoration: line-through;
}

.deal-price-new {
  font-size: 16px;
  color: #555;
}

/* Invest Section */

.invest header,
.invest-links {
  display: flex;
}

.invest header {
  justify-content: space-between;
}

.invest-links li{
  margin-left: 8px;
}

.invest-item {
  background: #fffaf8;
}

.invest-header {
  position: relative;
}

.invest-img {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.invest-name,
.invest-info {
  padding: 10px 16px 10px 84px;
  margin: 0;
  font-size: 18px;
}

.invest-name {
  background-color: #f42;
  color: #fff;
}

.invest-info {
  background-color: rgba(255, 68, 34, .08);
  color: #000;
}

.invest-info h5 {
  font-size: 12px;
}

/* Categories Section */

.categories {
  margin-top: 60px;
}

.categories .heading {
  margin: 40px 0 20px;
}

.flex-one-third {
  flex-basis: 33.33%;
  max-width: 33.33%;
  padding: 12px;
  /* background-color: #ccc; */
}

.category-popular-article {
  position: relative;
  height: 0;
  padding-top: 75%;
  width: 100%;
}

.category-popular-image {
  background-color: #ccc;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
}

.category-popular-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
}

.category-latest {
  display: flex;
  margin: 2px 0;
  background-color: rgba(255, 68, 34, .06);
}

.category-latest-header {
  flex: 1;
  padding: 10px 14px 0;
}

.category-latest-img {
  flex: 0 0 96px;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.category-headlines li {
  border-bottom: 1px solid #eee;
  padding: 6px 0 6px 14px;
}

.category-headlines h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

/* Deals Section */

.deals .latest-img {
  background-position: 0 100%;
  padding-top: 74.5%;
}

.deal-container {
  position: relative;
}

.deal-discount {
  width: 0px;
  height: 0px;
  border-left: 80px solid transparent;
  border-top: 80px solid #fd3;
  position: absolute;
  top: 0px;
  right: 0px;
}

.deal-discount span {
  font-size: 16px;
  font-weight: 700;
  display: block;
  position: absolute;
  bottom: 30px;
  left: -65px;
  width: 80px;
  transform: rotate(45deg);
}