/* Global */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Logo */

.logo {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  padding: 0 20px;
  font-size: 30px;
  width: 100px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.featured-logo {
  display: none;
}

@media (min-width: 768px) {
  .nav-top,
  .nav-mid,
  .nav-bottom {
    padding-left: 120px;
  }

  .logo {
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    padding: 20px;
    font-size: 30px;
    width: 100px;
    height: 80px;
    color: #fff;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
  }
}

@media (min-width: 1024px) {
  .featured-logo-gradient {
    background: transparent url(assets/images/cover-gradient.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    mix-blend-mode: lighten;
    z-index: 1;
  }

  .featured-logo {
    color: #fff;
    position: absolute;
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    line-height: 1;
    display: block;
    z-index: 2;
  }

  .logo {
    transform: translateX(-100px);
  }

  .nav-top,
  .nav-mid,
  .nav-bottom {
    padding-left: 10px;
  }
}

/* Nav */

.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav-top,
.nav-mid {
  display: none;
}

.nav-bottom {
  width: 100%;
  font-size: 12px;
  line-height: 60px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fd3;
  color: #000;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 6px;
}

.nav-mobile {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  z-index: 5;
}

.nav-icons {
  height: 48px;
  width: 48px;
  padding: 16px;
  border-left: 1px solid #ccc;
}

main {
  padding-top: 104px;
}

@media (min-width: 768px) {

  .nav-mobile {
    display: none;
  }

  .nav-top,
  .nav-mid,
  .nav-top ul,
  .nav-mid ul {
    display: flex;
  }

  .nav-top,
  .nav-mid,
  .nav-bottom {
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }

  .nav-top {
    height: 32px;
    background-color: #131313;
  }

  .nav-mid {
    height: 48px;
    background-color: #fff;
  }

  .nav-bottom {
    height: 30px;
    background-color: #fd3;
    color: #000;
    line-height: 30px;
  }

  nav li {
    padding-right: 10px;
  }

  .nav-top a {
    color: #fff;
  }

  .nav-mid a {
    color: #555;
  }

  main {
    padding-top: 110px;
  }
}


/* Featured Section */

.cover-image {
  /* background-image: url("assets/images/featured-1.jpg"); */
  background-size: cover;
  background-position: 50%;
}

.featured {
  display: flex;
  flex-direction: column;
}

.featured-large,
.featured-small {
  background-color: #555;
  color: #fff;
  margin: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}


.featured-large {
  flex: 2;
}

.featured-small-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featured-small {
  flex: 1;
  margin-right: 5px;
}

.featured-header {
  padding: 16px 12px;
  z-index: 2;
}

.featured-title {
  font-weight: 700;
  line-height: 1;
  margin-bottom: .25em;
}

@media (max-width: 768px) {
  .featured-large,
  .featured-small {
    min-height: 30vh;
  }
}

@media (min-width: 768px) {
  .featured {
    display: flex;
    height: 60vh;
    flex-direction: row;
  }

  .featured-header {
    padding: 24px 20px;
  }

  h1.featured-title {
    font-size: 40px;
  }
  
  h2.featured-title {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  h1.featured-title {
    font-size: 56px;
  }
  
  h2.featured-title {
    font-size: 28px;
  }
}

.featured-byline {
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.6)
}

.featured-category {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}

.image-gradient {
  background: rgba(0,0,0,.25) url(assets/images/image-gradient.png) no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

/* Sections */

.wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.latest,
.invest,
.deals,
footer {
  margin-top: 40px;
}

.flex-grid {
  display: flex;
  flex-direction: column;
  margin: -12px;
}

.flex-item-small {
  flex-basis: 100%;
  max-width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .latest,
  .invest,
  .deals,
  footer {
    margin-top: 100px;
  }

  .flex-grid {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .flex-item-small {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 12px;
  }
}

@media (min-width: 1028px) {
  .flex-item-small {
    flex-basis: 25%;
    max-width: 25%;
  }
}

/* Latest Section */

.heading {
  font-size: 28px;
  letter-spacing: -0.015em;
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.latest-item {
  position: relative;
}

.latest-info {
  color: #000;
}

@media (max-width: 768px) {
  .latest-info {
    padding-left: 80px;
  }
}

.latest-img {
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 75px;
  width: 75px;
  margin-bottom: 8px;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .latest-img {
    padding-top: 50%;
    width: 100%;
    position: relative;
  }
}

.latest-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.latest-byline {
  display: flex;
}

.latest-byline li {
  padding-right: 5px;
  color: #aaa;
}

.deal-price-old {
  color: #aaa;
  font-size: 13px;
  padding-top: 4px;
  text-decoration: line-through;
}

.deal-price-new {
  font-size: 16px;
  color: #555;
}

/* Invest Section */

.invest .heading {
  margin-bottom: 10px;
}

.invest header,
.invest-links {
  display: flex;
}

.invest header{
  flex-direction: column;
}

@media (min-width: 1024px) {
  .invest header{
    flex-direction: row;
  }
}

.invest header {
  justify-content: space-between;
}

.invest-links {
  margin: 0 -8px 20px;
}

.invest-links li{
  padding: 0 8px;
  border-right: 1px #f42 solid;
}
.invest-links li:last-child {
  border: none;
}

.invest-links a {
  color: #f42;
}
.invest-links a:hover {
  color: #000;
}

.invest-item {
  background: #fffaf8;
}

.invest-item-header {
  position: relative;
}

.invest-img {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #000;
}

.invest-name,
.invest-info {
  padding: 10px 16px 10px 84px;
  margin: 0;
  font-size: 18px;
}

.invest-name {
  background-color: #f42;
  color: #fff;
}

.invest-info {
  background-color: rgba(255, 68, 34, .08);
  color: #000;
}

.invest-info h4 {
  font-weight: 700;
}

.invest-info h5 {
  font-size: 12px;
}

.invest-tags,
.invest-news {
  padding: 10px;
}

.invest-news {
  border-top: 1px solid rgba(255,68,34,.25);
}

.invest-news span {
  color: #aaa;
}

.invest .flex-grid :nth-child(4) {
  display: none;
}

@media (min-width: 1024px) {
  .invest .flex-grid :nth-child(4) {
    display: block;
  }
}

/* Categories Section */

.categories {
  margin-top: 60px;
}

.categories .heading {
  margin: 20px 0 20px;
}

.flex-item-large {
  flex-basis: 100%;
  max-width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .flex-item-large {
    flex-basis: 50%;
    max-width: 50%;
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  .flex-item-large {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 12px;
  }
}

.category-popular-article {
  position: relative;
  height: 0;
  padding-top: 75%;
  width: 100%;
}

.category-popular-image {
  background-color: #ccc;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
}

.category-popular-header {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
  z-index: 1;
}

.category-popular-header h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 6px;
}

.category-popular-header h5 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: -.04em;
  line-height: 1.5;
}

.category-latest {
  display: flex;
  margin: 2px 0;
  background-color: rgba(255, 68, 34, .06);
}

.category-latest-header {
  flex: 1;
  padding: 10px 14px 0;
  color: #f42;
}

.category-latest-header h5 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
}

.category-latest-header h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}

.category-latest-img {
  flex: 0 0 96px;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.category-headlines li {
  border-bottom: 1px solid #eee;
  padding: 6px 0 6px 14px;
}

.category-headlines h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

/* Deals Section */

.deal-container {
  position: relative;
}

.deal-discount span {
  font-size: 16px;
  font-weight: 700;
  display: block;
  position: absolute;
  bottom: 30px;
  left: -65px;
  width: 80px;
  transform: rotate(45deg);
}

.deal-discount {
  display: none;
}

@media (max-width: 768px) {
  .deal-info {
    padding-left: 80px;
  }

  .deal-info h4,
  .deal-price-new {
    font-size: 14px;
  };
}

@media (min-width: 768px) {
  .deals .latest-img {
    background-position: 0 100%;
    padding-top: 74.5%;
  }  

  .deal-discount {
    display: block;
    width: 0px;
    height: 0px;
    border-left: 80px solid transparent;
    border-top: 80px solid #fd3;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

/* Footer */

footer {
  text-align: center;
}

.footer-nav {
  background-color: #131313;
  padding:  20px;
  margin: 0 auto;
  max-width: 1192;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.footer-social li {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background: #555;
  margin: 0 2px;
}

.footer-links {
  flex-wrap: wrap;
}

.footer-links li {
  font-size: 13px;
  color: #aaa;
  text-transform: uppercase;
  margin: 0 5px;
}

@media (min-width: 768px) {
  .footer-social li {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background: #555;
    margin: 0 10px;
  }
}

.copywrite {
  padding: 40px;
  background-color: #000;
  color: #aaa;
}